@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

body{
    background-color: #232323 !important;
    color: #b3b3b3 !important;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    width: 650px;
    height: 500px;  
    overflow: hidden;
}

.titulo{
    text-align: center;
    margin: 0px;
    margin-top: 15px;
    padding: 0px;
}

.titulo h1{
    font-family: 'Ephesis', cursive;
    font-size: 40px;
    font-weight: bold;
    color:rgb(201, 100, 128);
}

#modelos{
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;  
    height: 315px !important;
}

.carousel{
    display: grid;
    grid-template-rows: 1fr auto;
    justify-content: center;
    align-items: center;
    width: 200px !important;
    height: 250px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.c-btn-pulsar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn{
    color: rgb(201, 100, 128) !important;
    border-color: rgb(201, 100, 128) !important;
    
}

.carousel-inner{
    background-color: #b3b3b3;
    width: 200px !important;
    height: 250px !important;
    border: 1px solid rgb(201, 100, 128);
}

.descripcion{
    margin-top: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    justify-self: center !important;
    width: 600px;
    background-color: rgb(175, 121, 120);
    color: white;
    padding: 10px;
    border-radius: 10px;
    height: auto;
}

.firm{
    height: auto;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: small;
    font-family: 'Ephesis', cursive;
    color: #b3b3b3;
}