body{
    background-color:  #202020 !important;
    color: #b3b3b3 !important;
    display: grid;
    grid-template-rows: auto 1fr auto 1fr;
    width: 650px;
    height: 500px;  
    overflow: hidden;
}

.titulo{
    text-align: center;
    margin: 0px;
    margin-top: 15px;
    padding: 0px;
}

.titulo h1{
    font-size: 25px;
    font-weight: bold;
}

.carousel{
    width: 200px !important;
    height: 250px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.carousel-inner{
    background-color: #b3b3b3;
    width: 200px !important;
    height: 250px !important;
}

#modelos{
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;  
    height: 270px !important;
    width: auto;
}

.descripcion{
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-self: center;
    width: 600px;
    background-color: #313131;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}